html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
box-sizing:content-box;
//div 設定的寬度僅為內容寬度，而內距與邊框額外加上去
box-sizing:boder-box
//div 設定的寬度就已經包含內容寬度、內距與邊框寬度
// *表示全部套用
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;  
          box-sizing: border-box; 
}


.wrap {
    max-width: 1000px;
    margin:0 auto;
    
}

.header {
    background-color: #f6f6f6;
    max-width: 1000px;
    height: 30px;
}

.header ul li {
    line-height: 36px;
    font-weight: bold;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: inline-block;
    vertical-align: middle;
    
}

.twitter {
    color:#00ACF0;
    line-height: 30px;
    float: right;
    padding-left: 16px;
    background: url(/Users/VDHuiJihhsu/Documents/images/01/twitter.png) no-repeat;
    background-position: 0% 50%;
}

.twitter a{
    color:#00ACF0;
    text-decoration:none;
}

.fb {
    color: #3061A4;
    line-height: 30px;
    float: right;
    padding-left: 16px;
    background: url(/Users/VDHuiJihhsu/Documents/images/01/fb.png) no-repeat;
    background-position: 0% 50%;
 }

 .fb a{
    color: #3061A4;
    text-decoration:none;
 }

.menu {
    box-shadow:0px 2px 4px   rgba(200, 199, 199, .8);
    max-width: 1000px;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.logo {
    float: left;
    height: 36px;
    width: 58%;
    background: url(/Users/VDHuiJihhsu/Documents/images/01/logo.png) no-repeat;
    background-position:0% 50%;
   
}

.menu ul li {
    color:#00CE97;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    height: 36px;
    width: 10%;
}

.menu ul li a{
    color:#00CE97;
    text-decoration:none;
}

@media (max-width: 767px) {
    .logo{
        width: 100%;
        margin-bottom: 10px;
    }

    .menu ul li {
        float: left;
        width: 50%;
        padding-top: 0px;
        line-height: 36px;
    }
}

}

.content {
    width: 100%;
    
}

.content ul li{
    text-align: center;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    margin-top: 150px;
    box-shadow:1px 2px 5px 1px rgba(200, 199, 199, .8);

}

@media (max-width: 767px) {
    .content ul li {
        width: 97%;
        margin-top: 85px;
    }
  }
.content ul li p {
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: left;
    line-height: 20px
}

.content ul li h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content ul li ul li{
    width: 100%;
    text-align: left;
    margin-top: 0px;
    float: none;
    border: none;
    box-shadow: none;
    line-height: 25px
}



