.wrap {
    max-width: 1000px;
    margin:0 auto;
}

.content {
    width: 100%;
}

.content ul li{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: inline-block;
}



.html,.jq,.rwd {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: inline-block;
}
